<div class="trainer-detail">
  <div class="trainer-header">
    <img [src]="trainerDetail.imageUrl" [alt]="trainerDetail.name" class="trainer-image" />
    <div class="trainer-info">
      <h2>{{ trainerDetail.name }}</h2>
      <p>{{ trainerDetail.bigSnopsies }}</p>
      <p><strong>Edad:</strong> {{ trainerDetail.age }} años</p>
      <p><strong>No. Pokémon:</strong> {{ trainerDetail.pokemons.length }}</p> 
      <p><strong>Promedio de nivel:</strong> {{ getAverageLevel() }}</p> 
    </div>
  </div>

  <div class="pokemon-graphic">
    <canvas id="pokemonChart"></canvas> 
  </div>

  <app-pokemon-list [pokemonList]="trainerDetail.pokemons"></app-pokemon-list>
  <button (click)="goBack()" class="back-button">Atras</button>
</div>

<div *ngIf="selectedTrainer">
  <app-trainer-detail [trainerDetail]="selectedTrainer"></app-trainer-detail>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="h4">Trainer's Name</th>
      <th class="h4">Trainer's Image</th>
      <th class="h4">Trainer's Small Snapshot</th>
      <th class="h4">Pokémon Count</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of trainers" class="row-table" (click)="onSelected(t)">
      <td>
        <span>{{ t.name }}</span>
      </td>
      <td>
        <img [src]="t.imageUrl" alt="{{ t.name }}'s Image" class="img-thumbnail" />
      </td>
      <td>
        <span>{{ t.smallSnopsies }}</span>
      </td>
      <td>
        <span>{{ t.pokemons.length }}</span> 
      </td>
    </tr>
  </tbody>
</table>
